<div class="main-content">
    <table>
        <thead>
            <tr>
                <td>
                    <div class="header-space">&nbsp;</div>
                </td>
            </tr>
        </thead>
        <div class="quoteHeader">
            <div class="quoteHeading bb bt">
                <h3>QUOTATION</h3>
            </div>
            <div class="quoteCon">
                <div class="tableLeftRight bb">
                    <div class="left">
                        <h6 class="tableData br">Customer Name:</h6>
                    </div>
                    <div class="right">
                        <h6 class="tableData">Mahindra & Mahindra Ltd.</h6>
                    </div>
                </div>
                <div class="tableLeftRight bb">
                    <div class="left">
                        <h6 class="tableData br">Customer Address:</h6>
                    </div>
                    <div class="right">
                        <h6 class="tableData">India</h6>
                    </div>
                </div>
                <div class="tableLeftRight bb">
                    <div class="left">
                        <h6 class="tableData br">Buyer Name:</h6>
                    </div>
                    <div class="right">
                        <h6 class="tableData br">Nitin Kumar</h6>
                    </div>
                    <div class="right">
                        <h6 class="tableData br">Contact No.:</h6>
                    </div>
                    <div class="right">
                        <h6 class="tableData">9728666788</h6>
                    </div>
                </div>
                <div class="tableLeftRight bb">
                    <div class="left">
                        <h6 class="tableData br">Application / Project:</h6>
                    </div>
                    <div class="right">
                        <h6 class="tableData">Uryu Oil Pulse Tool</h6>
                    </div>
                </div>
            </div>
            <table class="table caption-top">
                <thead class="bb">
                    <tr>
                        <th class="br srNo" scope="col">Sr No</th>
                        <th class="br" scope="col">Product Description</th>
                        <th class="br" scope="col">GST %</th>
                        <th class="br" scope="col">Qty</th>
                        <th class="br" scope="col">UOM</th>
                        <th class="br" scope="col">Unit Rate</th>
                        <th class="br" scope="col">Disc</th>
                        <th class="br" scope="col">Net Unit Rate</th>
                        <th class="amount" scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bb">
                        <th class="br" scope="row">1</th>
                        <td class="br"><span class="fBold">URYU OIL PULSE TOOL (UAT100L)</span>
                            <p>Part no- UAT100L</p>
                            <p>HSN Code.: 84671190</p>
                        </td>
                        <td class="br">18</td>
                        <td class="br">1</td>
                        <td class="br">EA</td>
                        <td class="br">191,957.88</td>
                        <td class="br">52.59%</td>
                        <td class="br">91,007.23</td>
                        <td>91,007.23</td>
                    </tr>
                    <tr class="bb">
                        <th class="br" scope="row">2</th>
                        <td class="br"><span class="fBold">URYU OIL PULSE TOOL (UAT100L)</span>
                            <p>Part no- UAT100L</p>
                            <p>HSN Code.: 84671190</p>
                        </td>
                        <td class="br">18</td>
                        <td class="br">1</td>
                        <td class="br">EA</td>
                        <td class="br">191,957.88</td>
                        <td class="br">52.59%</td>
                        <td class="br">91,007.23</td>
                        <td>91,007.23</td>
                    </tr>
                    <tr class="bb">
                        <th class="br" scope="row">3</th>
                        <td class="br"><span class="fBold">URYU OIL PULSE TOOL (UAT100L)</span>
                            <p>Part no- UAT100L</p>
                            <p>HSN Code.: 84671190</p>
                        </td>
                        <td class="br">18</td>
                        <td class="br">1</td>
                        <td class="br">EA</td>
                        <td class="br">191,957.88</td>
                        <td class="br">52.59%</td>
                        <td class="br">91,007.23</td>
                        <td>91,007.23</td>
                    </tr>
                    <tr class="bb">
                        <th class="br" scope="row">4</th>
                        <td class="br"><span class="fBold">URYU OIL PULSE TOOL (UAT100L)</span>
                            <p>Part no- UAT100L</p>
                            <p>HSN Code.: 84671190</p>
                        </td>
                        <td class="br">18</td>
                        <td class="br">1</td>
                        <td class="br">EA</td>
                        <td class="br">191,957.88</td>
                        <td class="br">52.59%</td>
                        <td class="br">91,007.23</td>
                        <td>91,007.23</td>
                    </tr>
                    <tr class="bb">
                        <th class="br" scope="row">5</th>
                        <td class="br"><span class="fBold">URYU OIL PULSE TOOL (UAT100L)</span>
                            <p>Part no- UAT100L</p>
                            <p>HSN Code.: 84671190</p>
                        </td>
                        <td class="br">18</td>
                        <td class="br">1</td>
                        <td class="br">EA</td>
                        <td class="br">191,957.88</td>
                        <td class="br">52.59%</td>
                        <td class="br">91,007.23</td>
                        <td>91,007.23</td>
                    </tr>
                    <tr class="bb">
                        <th class="br" scope="row">6</th>
                        <td class="br"><span class="fBold">URYU OIL PULSE TOOL (UAT100L)</span>
                            <p>Part no- UAT100L</p>
                            <p>HSN Code.: 84671190</p>
                        </td>
                        <td class="br">18</td>
                        <td class="br">1</td>
                        <td class="br">EA</td>
                        <td class="br">191,957.88</td>
                        <td class="br">52.59%</td>
                        <td class="br">91,007.23</td>
                        <td>91,007.23</td>
                    </tr>
                    <tr class="bb">
                        <th class="br" scope="row">7</th>
                        <td class="br"><span class="fBold">URYU OIL PULSE TOOL (UAT100L)</span>
                            <p>Part no- UAT100L</p>
                            <p>HSN Code.: 84671190</p>
                        </td>
                        <td class="br">18</td>
                        <td class="br">1</td>
                        <td class="br">EA</td>
                        <td class="br">191,957.88</td>
                        <td class="br">52.59%</td>
                        <td class="br">91,007.23</td>
                        <td>91,007.23</td>
                    </tr>
                    <tr class="bb">
                        <th class="br" scope="row">8</th>
                        <td class="br"><span class="fBold">URYU OIL PULSE TOOL (UAT100L)</span>
                            <p>Part no- UAT100L</p>
                            <p>HSN Code.: 84671190</p>
                        </td>
                        <td class="br">18</td>
                        <td class="br">1</td>
                        <td class="br">EA</td>
                        <td class="br">191,957.88</td>
                        <td class="br">52.59%</td>
                        <td class="br">91,007.23</td>
                        <td>91,007.23</td>
                    </tr>
                    <tr class="bb">
                        <th class="br" scope="row">9</th>
                        <td class="br"><span class="fBold">URYU OIL PULSE TOOL (UAT100L)</span>
                            <p>Part no- UAT100L</p>
                            <p>HSN Code.: 84671190</p>
                        </td>
                        <td class="br">18</td>
                        <td class="br">1</td>
                        <td class="br">EA</td>
                        <td class="br">191,957.88</td>
                        <td class="br">52.59%</td>
                        <td class="br">91,007.23</td>
                        <td>91,007.23</td>
                    </tr>
                    <tr class="bb">
                        <th class="br" scope="row">10</th>
                        <td class="br"><span class="fBold">URYU OIL PULSE TOOL (UAT100L)</span>
                            <p>Part no- UAT100L</p>
                            <p>HSN Code.: 84671190</p>
                        </td>
                        <td class="br">18</td>
                        <td class="br">1</td>
                        <td class="br">EA</td>
                        <td class="br">191,957.88</td>
                        <td class="br">52.59%</td>
                        <td class="br">91,007.23</td>
                        <td>91,007.23</td>
                    </tr>
                </tbody>
            </table>
            <div class="quoteHeading bb bt">
                <h3>Terms & Conditions</h3>
            </div>
            <div class="quoteCon">
                <div class="tableLeftRight bb">
                    <div class="No br">
                        <h6>1</h6>
                    </div>
                    <div class="left">
                        <h6 class="tableData br">INCO Terms:</h6>
                    </div>
                    <div class="right">
                        <h6 class="tableData">DOD - Door delivery to your plant</h6>
                    </div>
                </div>
                <div class="tableLeftRight bb">
                    <div class="No br">
                        <h6>2</h6>
                    </div>
                    <div class="left">
                        <h6 class="tableData br">
                            Payment Terms:</h6>
                    </div>
                    <div class="right">
                        <h6 class="tableData">
                            100% immediately against delivery
                            </h6>
                    </div>
                </div>
                <div class="tableLeftRight bb">
                    <div class="No br">
                        <h6>3</h6>
                    </div>
                    <div class="left">
                        <h6 class="tableData br">
                            P&F:</h6>
                    </div>
                    <div class="right">
                        <h6 class="tableData">
                            Inclusive
                            </h6>
                    </div>
                </div>
                <div class="tableLeftRight bb">
                    <div class="No br">
                        <h6>4</h6>
                    </div>
                    <div class="left">
                        <h6 class="tableData br">Freight:</h6>
                    </div>
                    <div class="right">
                        <h6 class="tableData">
                            Inclusive</h6>
                    </div>
                </div>
                <div class="tableLeftRight bb">
                    <div class="No br">
                        <h6>5</h6>
                    </div>
                    <div class="left">
                        <h6 class="tableData br">Other Charges:</h6>
                    </div>
                    <div class="right">
                        <h6 class="tableData">
                            </h6>
                    </div>
                </div>
                <div class="tableLeftRight bb">
                    <div class="No br">
                        <h6>6</h6>
                    </div>
                    <div class="left">
                        <h6 class="tableData br">Delivery Period:</h6>
                    </div>
                    <div class="right">
                        <h6 class="tableData">12-16 weeks</h6>
                    </div>
                </div>
                <div class="tableLeftRight bb">
                    <div class="No br">
                        <h6>7</h6>
                    </div>
                    <div class="left">
                        <h6 class="tableData br">Warranty:</h6>
                    </div>
                    <div class="right">
                        <h6 class="tableData">
                            12 months (from date of sale)</h6>
                    </div>
                </div>
                <div class="tableLeftRight bb">
                    <div class="No br">
                        <h6>8</h6>
                    </div>
                    <div class="left">
                        <h6 class="tableData br">Quote Validity (days)</h6>
                    </div>
                    <div class="right">
                        <h6 class="tableData">
                            30 Days</h6>
                    </div>
                </div>
                <div class="tableLeftRight bb">
                    <div class="No br">
                        <h6>9</h6>
                    </div>
                    <div class="left">
                        <h6 class="tableData br">Not Valid After:</h6>
                    </div>
                    <div class="right">
                        <h6 class="tableData">
                            25 May 2022</h6>
                    </div>
                </div>
                <div class="tableLeftRight bb">
                    <div class="No br">
                        <h6>10</h6>
                    </div>
                    <div class="left">
                        <h6 class="tableData br">Other Remarks:</h6>
                    </div>
                    <div class="right">
                        <h6 class="tableData">
                            </h6>
                    </div>
                </div>
            </div>
        </div>
        <tfoot>
            <tr>
                <td>
                    <div class="footer-space">&nbsp;</div>
                </td>
            </tr>
        </tfoot>
    </table>
    <header class="TopHeader">
        <div class="header">
            <div class="ph1">
                <div><img src="assets/img/DIYA.PNG" /></div>
                <div class="headerLeft">
                    <ul>
                        <li>Bill From: Rudrapur, UK-05</li>
                        <li>Address: 33, 1st Floor, SGAD Complex_Nainital Road, Rudrapur, Udham Singh Nagar,
                            Uttarakhand
                            UTTARAKHAND India 263153
                        </li>
                        <li>E-Mail: info@diyatechnologies.co.in</li>
                        <li>GSTN: 05ADXPK7078E1Z2</li>
                        <li>Website: www.diyatechnologies.in</li>
                    </ul>

                </div>
            </div>
            <div class="ph2">
                <div class="headerRight">
                    <ul>
                        <li class="">Reference No.: Q-2TX4TO5LR</li>
                        <li class="">Date: 25-04-2022</li>
                    </ul>
                </div>
                <div class="headerRightBottom">
                    <h2 class="">Contact person for this Offer:</h2>
                    <ul>
                        <li>Name: Jitendra Singh Bisht</li>
                        <li>Mail-ID: sales.rup@diyatechnologies.co.in</li>
                        <li>Mobile.no: 7417040880</li>
                    </ul>
                </div>
            </div>

        </div>
    </header>
    <footer class="footer">
        <h2 class="">Authorized Dealers:</h2>
        <div class="footerImg">
            <img src="assets/img/IR.PNG">
            <img src="assets/img/URYU.PNG">
            <img src="assets/img/TOH.PNG">
        </div>
    </footer>

</div>